    <!-- NAVBAR -->
    <header>
      <nav>
        <ul>
          <li><a href="/" class="<%= path==='/'?'active':'' %>"  >Users</a></li>
          <li><a href="/add-users" class="<%= path==='/add-users' ?'active':'' %>">Add User</a></li>
        </ul>
      </nav>
    </header>