
  <!-- User List -->
  <main class="main">
    <h1>Add User</h1>
    <form action="/userAdded" method="POST">
      <input type="text" placeholder="Enter Username..." name="username">
      <input type="password" name="password" placeholder="Enter Password...">
      <button type="submit">Create Account</button>
    </form>
  </main>
