
  <!-- User List -->
  <main class="main">
  {{#if profiles.length}}
    <h1>Users</h1>
    <article class="top">
      <div class="flex">
        <div>
          <p>No </p>
        </div>
        <div>
          <p>User Name </p>
        </div>
        <div>
          <p>Password</p>
        </div>
      </div>
    </article>
   {{#each profiles}}
    <article class="val">
      <div class="flex">
        <div>
          <p>{{Sno}}</p>
        </div>
        <div>
          <p>{{Username}}</p>
        </div>
        <div>
          <p>{{Password}}</p>
        </div>
      </div>
    </article>
    {{/each}} 
    {{else}}
      <h1>No Users Added</h1>
    {{/if}}
