<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Users</title>
</head>
<body>
  <!-- NAVBAR -->
  <header>
    <nav>
      <ul>
        <li><a href="/">Users</a></li>
        <li><a href="/add-users">Add User</a></li>
      </ul>
    </nav>
  </header>

  <!-- User List -->
  <main class="main">
    <h1>Users</h1>
    <article class="top">
      <div class="flex">
        <div>
          <p>No </p>
        </div>
        <div>
          <p>User Name </p>
        </div>
        <div>
          <p>Password</p>
        </div>
      </div>
    </article>
    <article class="val">
      <div class="flex">
        <div>
          <p>1</p>
        </div>
        <div>
          <p>Japneet Singh </p>
        </div>
        <div>
          <p>sjsjdjd</p>
        </div>
      </div>
    </article>
  </main>
</body>
</html>