doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/form.css")
    title #{pageTitle}
  body 
    header
      nav
        ul
          li 
             a(href="/") Users
          li   
             a(href="/add-users") Add User
if profile.length>0   
 .main
    h1 Users
    article.top
          .flex
            div
              p No 
            div
              p User Name 
            div
              p Password
each prof in profile
 .main              
    article.val
         .flex
             div
               p #{Sno=Sno+1}
             div
               p #{prof.UserName}
             div
               p #{prof.Password}
else 
       .main
        h1 No Users yet
 

